# name: 'Terraform linting and fmt check'

# on:
#   push:
#     branches:
#       - main
#   release:
#     types: [published]
#   pull_request:

# jobs:
#   terraform:
#     name: 'Terraform'
#     runs-on: ubuntu-latest
#     # defaults:
#     #   run:
#     #     working-directory: 03-linting-and-format
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2

#         #   with:
#       #     submodules: true
#       # - name: Set up Go
#       #   uses: actions/setup-go@v4
#       #   with:
#       #     go-version-file: 'go.mod'
#       # - name: Run linters
#       #   uses: golangci/golangci-lint-action@v3.4.0
#       #   with:
#       #     version: v1.51

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v1
#         with:
#           terraform_version: 1.0.1
#           terraform_wrapper: false

#       # Minimal example
#       - name: tflint
#         uses: reviewdog/action-tflint@master
#         with:
#           github_token: ${{ secrets.github_token }}

#       # More complex example
#       - name: tflint
#         uses: reviewdog/action-tflint@master
#         with:
#           github_token: ${{ secrets.github_token }}
#           fail_on_error: 'true' # Optional. Fail action if errors are found

# - name: Terraform Format
#   id: fmt
#   run: terraform fmt -check

# - name: Terraform Init
#   id: init
#   run: terraform init

# - name: Terraform Validate
#   id: validate
#   run: terraform validate

name: reviewdog
on: [pull_request]
jobs:
  tflint:
    name: runner / tflint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 03-linting-and-format

    steps:
      - name: Clone repo
        uses: actions/checkout@master

      # Install latest Terraform manually as
      #  Docker-based GitHub Actions are
      #  slow due to lack of caching
      # Note: Terraform is not needed for tflint
      - name: Install Terraform
        run: |
          brew install terraform

      - name: CHECK DIRECTORY
        run: |
          ls

      # Run init to get module code to be able to use `--module`
      - name: Terraform init
        run: |
          terraform init

      # Minimal example
      - name: tflint
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ secrets.github_token }}

      # More complex example
      - name: tflint
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ secrets.github_token }}
          fail_on_error: 'true' # Optional. Fail action if errors are found
