name: 'Terraform linting and fmt check'

on:
  push:
    branches:
      - main
  release:
    types: [published]
  pull_request:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: 03-linting-and-format
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Minimal example
      - name: tflint
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ secrets.github_token }}

      # More complex example
      - name: tflint
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ secrets.github_token }}
          fail_on_error: 'true' # Optional. Fail action if errors are found
        #   with:
      #     submodules: true
      # - name: Set up Go
      #   uses: actions/setup-go@v4
      #   with:
      #     go-version-file: 'go.mod'
      # - name: Run linters
      #   uses: golangci/golangci-lint-action@v3.4.0
      #   with:
      #     version: v1.51

      # - name: Setup Terraform
      #   uses: hashicorp/setup-terraform@v1
      #   with:
      #     terraform_version: 1.0.1
      #     terraform_wrapper: false

      # - name: Terraform Format
      #   id: fmt
      #   run: terraform fmt -check

      # - name: Terraform Init
      #   id: init
      #   run: terraform init

      # - name: Terraform Validate
      #   id: validate
      #   run: terraform validate
